@using Microsoft.AspNetCore.Identity
@model IEnumerable<AuthSystem.Models.Statistic>

@{
    ViewData["Title"] = "Global Statistics";
}

<title>@ViewData["Title"] - Sports Analytics</title>

<h1 class="mb-4 text-center" style="color: white; font-weight: bold"> @ViewData["Title"]</h1>

<form method="get" action="@Url.Action("Index", "Statistics")" class="mb-4">
    <div class="input-group">
        <input type="text" name="teamName" class="form-control me-4" placeholder="Search by team">
        <select name="pos" class="form-select me-4">
            <option value="">Select Position</option>
            @foreach (var enumValue in Enum.GetValues(typeof(Position)))
            {
                var enumName = Enum.GetName(typeof(Position), enumValue);
                <option value="@enumName">@enumName</option>
            }
        </select>
        <select name="val" class="form-select me-4">
            <option value="">Select a valoration range</option>
            <option value="gt90">Mayor a 90</option>
            <option value="80-89">De 80 - 89</option>
            <option value="lt80">Menor a 80</option>
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

@if (User.IsInRole("Admin"))
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead style="background-color: #108CC6; color: #fff;">
                <tr>
                    <th class="text-center" style="width: auto;">ID</th>
                    <th class="text-center" style="width: auto;">Name</th>
                    <th class="text-center" style="width: auto;">Team</th>
                    <th class="text-center" style="width: auto;">Matches</th>
                    <th class="text-center" style="width: auto;">Goals</th>
                    <th class="text-center" style="width: auto;">Assists</th>
                    <th class="text-center" style="width: auto;">Position</th>
                    <th class="text-center" style="width: auto;">Valoration</th>
                    <th class="text-center" style="width: auto;">Information</th>
                    <th class="text-center" style="width: auto;">Update</th>
                    <th class="text-center" style="width: auto;">Delete</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Player.FirstName) @Html.DisplayFor(modelItem => item.Player.LastName)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Player.Team.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Matches)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Goals)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Assists)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Player.Position)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Player.Valoration)</td>
                        <td class="text-center"><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">More Info</a></td>
                        <td class="text-center"><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a></td>
                        <td class="text-center"><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center mt-2">
        <a asp-action="Create" class="btn btn-primary btn-lg me-4">Add Statistics</a>
        <a asp-action="Create" asp-controller="Player" class="btn btn-primary btn-lg me-4">Create Player</a>
        <a asp-action="Best" class="btn btn-primary btn-lg me-4">Best Player</a>
        <a asp-action="Team" class="btn btn-primary btn-lg me-4">Best Team</a>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead style="background-color: #108CC6; color: #fff;">
                <tr>
                    <th class="text-center" style="width: auto;">ID</th>
                    <th class="text-center" style="width: auto;">Name</th>
                    <th class="text-center" style="width: auto;">Team</th>
                    <th class="text-center" style="width: auto;">Matches</th>
                    <th class="text-center" style="width: auto;">Goals</th>
                    <th class="text-center" style="width: auto;">Assists</th>
                    <th class="text-center" style="width: auto;">Position</th>
                    <th class="text-center" style="width: auto;">Valoration</th>
                    <th class="text-center" style="width: auto;">Information</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Player.FirstName) @Html.DisplayFor(modelItem => item.Player.LastName)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Team.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Matches)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Goals)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Assists)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Player.Position)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Player.Valoration)</td>
                        <td class="text-center"><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">More Info</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center mt-2">
        <a asp-action="Best" class="btn btn-primary btn-lg me-4">Best Player</a>
        <a asp-action="Team" class="btn btn-primary btn-lg me-4">Best Team</a>
    </div>
}